.login{
    display:flex;
    align-items: center;
    justify-content: center;
    height:70vh;
}
.login-content{
    padding:65px 25px;
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    gap:15px;


}
.login form{
    display:flex;
    flex-direction: column;
    gap:20px;
    background:white;
    box-shadow: 0 0 5px 5px inset rgba(0,0,0,.1);
    padding:65px 25px;

}
h3{
    font-size: 20px;
    text-decoration: underline;
    
}
.login form input{
    width:400px;
    padding:10px;
    
}
.login form button{
    padding:10px 20px;
    border:none;
    outline:none;
    color:white;
    background:var(--secondary);
}
